@{
    ViewData["Title"] = "Home Index";
}

<div class="row">
    <div class="col-md-6 col-sm-6" id="piechart"></div>

    <div class="col-md-6 col-sm-6" id="barchart" data-dataurl='@Url.Action("SaslesPerSalesPerson", "Home")'></div>
</div>
<div id="png"></div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/home.index.js"></script>
}